.auth-main {
    position: fixed;
    background-image: linear-gradient(90deg, #ebc0ca 0%, #adedef 100%);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}