<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-right">
            <button 
            routerLink="userAdd"
            mat-raised-button color="primary" class="mb-3">Add User</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card>
                <ul class="list-group">
                    <li
                            class="list-group-item"
                            *ngFor="let user of userdata; trackBy: trackbyfun"
                            [routerLink]="['/users', user.userId]"
                            [queryParams]="{ userRole: user.userRole }"
                            routerLinkActive="active"
                            >
                            <strong>{{user.userName}}</strong>
                            <small 
                            class="badge ml-3"
                            [ngClass]="{
                                'badge-success' : user.isActive,
                                'badge-danger' : !user.isActive
                            }"
                            >
                    {{user.isActive ? 'Active' : 'In-Active'}}    
                    </small>
                    </li>
                </ul>
            </mat-card>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>